{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
     <div class="col-xl-12">
      <div class="card">
       <div class="card-header">
        <h5 class="mb-0">
         Student Details
        </h5>
       </div>
       <div class="card-body">
        <div class="row">
         <div class="col-xl-3 col-lg-4">
          <label class="form-label text-primary">
           Photo
           <span class="required">
            *
           </span>
          </label>
          <div class="avatar-upload">
           <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url({% static 'images/no-img-avatar.png' %});">
            </div>
           </div>
           <div class="change-btn mt-2 mb-lg-0 mb-3">
            <input accept=".png, .jpg, .jpeg" class="form-control d-none" id="imageUpload" type="file"/>
            <label class="dlab-upload mb-0 btn btn-primary btn-sm" for="imageUpload">
             Choose File
            </label>
            <a class="btn btn-danger light remove-img ms-2 btn-sm" href="javascript:void">
             Remove
            </a>
           </div>
          </div>
         </div>
         <div class="col-xl-9 col-lg-8">
          <div class="row">
           <div class="col-xl-6 col-sm-6">
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlInput1">
              First Name
              <span class="required">
               *
              </span>
             </label>
             <input class="form-control" id="exampleFormControlInput1" placeholder="James" type="text"/>
            </div>
            <div class="mb-3">
             <label class="form-label text-primary">
              Date &amp; Place of Birth
              <span class="required">
               *
              </span>
             </label>
             <div class="d-flex">
              <input class="form-control" id="datepicker" placeholder="2017-06-04" type="text"/>
              <input class="form-control w-50 ms-3" id="exampleFormControlInput7" placeholder="USA" type="text"/>
             </div>
            </div>
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlInput3">
              Email
              <span class="required">
               *
              </span>
             </label>
             <input class="form-control" id="exampleFormControlInput3" placeholder="hello@example.com" type="email"/>
            </div>
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlTextarea1">
              Address
              <span class="required">
               *
              </span>
             </label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="6">
                                                    
                                                 </textarea>
            </div>
           </div>
           <div class="col-xl-6 col-sm-6">
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlInput4">
              Last Name
              <span class="required">
               *
              </span>
             </label>
             <input class="form-control" id="exampleFormControlInput4" placeholder="Wally" type="text"/>
            </div>
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlInput5">
              Parent Name
              <span class="required">
               *
              </span>
             </label>
             <input class="form-control" id="exampleFormControlInput5" placeholder="Mana William" type="text"/>
            </div>
            <div class="mb-3">
             <label class="form-label text-primary" for="exampleFormControlInput6">
              Phone Number
              <span class="required">
               *
              </span>
             </label>
             <input class="form-control" id="exampleFormControlInput6" placeholder="+123456789" type="number"/>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col-xl-12">
     <div class="card">
      <div class="card-header">
       <h5 class="mb-0">
        Parents Details
       </h5>
      </div>
      <div class="card-body">
       <div class="row">
        <div class="col-xl-6 col-sm-6">
         <div class="mb-3">
          <label class="form-label text-primary" for="exampleFormControlInput8">
           First Name
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="exampleFormControlInput8" placeholder="Mana" type="text"/>
         </div>
         <div class="mb-3">
          <label class="form-label text-primary" for="exampleFormControlInput9">
           Email
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="exampleFormControlInput9" placeholder="hello@example.com" type="email"/>
         </div>
         <div class="mb-3">
          <label class="form-label text-primary" for="exampleFormControlTextarea2">
           Address
           <span class="required">
            *
           </span>
          </label>
          <textarea class="form-control" id="exampleFormControlTextarea2" rows="6">
                                        
                                     </textarea>
         </div>
        </div>
        <div class="col-xl-6 col-sm-6">
         <div class="mb-3">
          <label class="form-label text-primary" for="exampleFormControlInput10">
           Last Name
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="exampleFormControlInput10" placeholder="Wick" type="text"/>
         </div>
         <div class="mb-3">
          <label class="form-label text-primary" for="exampleFormControlInput11">
           Phone Number
           <span class="required">
            *
           </span>
          </label>
          <input class="form-control" id="exampleFormControlInput11" placeholder="+123456789" type="number"/>
         </div>
         <label class="form-label text-primary">
          Payments
          <span class="required">
           *
          </span>
         </label>
         <div class="d-flex align-items-center">
          <div class="form-check">
           <input class="form-check-input" id="flexCheckDefault" type="checkbox" value=""/>
           <label class="form-check-label font-w500" for="flexCheckDefault">
            Cash
           </label>
          </div>
          <div class="form-check ms-3">
           <input class="form-check-input" id="flexCheckDefault1" type="checkbox" value=""/>
           <label class="form-check-label font-w500" for="flexCheckDefault1">
            Debits
           </label>
          </div>
         </div>
        </div>
       </div>
       <div class="">
        <button class="btn btn-outline-primary me-3">
         Save as Draft
        </button>
        <button class="btn btn-primary" type="button">
         Save
        </button>
       </div>
      </div>
     </div>
    </div>
   </div>

   <script>
    $(function () {
               $("#datepicker").datepicker({ 
                     autoclose: true, 
                     todayHighlight: true
               }).datepicker('update', new Date());
         
         });
   </script>
   <script>
    function readURL(input) {
     if (input.files && input.files[0]) {
         var reader = new FileReader();
         reader.onload = function(e) {
             $('#imagePreview').css('background-image', 'url('+e.target.result +')');
             $('#imagePreview').hide();
             $('#imagePreview').fadeIn(650);
         }
         reader.readAsDataURL(input.files[0]);
     }
 }
 $("#imageUpload").change(function() {
     readURL(this);
 });
     $('.remove-img').on('click', function() {
         var imageUrl = "{% static 'images/no-img-avatar.png' %}";
         $('.avatar-preview, #imagePreview').removeAttr('style');
         $('#imagePreview').css('background-image', 'url(' + imageUrl + ')');
     });
   </script>
{% endblock %}